.cart {
    border: 3px solid #000000;
    border-radius: 12px;
    min-width: 320px;
    max-width: 375px;
    overflow: hidden;
}

.image {
    border-radius: 50%;
    width: 130px;
    background-color: dimgray;
    margin: 12px auto;
}

.text {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.boldtext {
    font-weight: 600;
}

.graytext {
    color:darkgrey;
}

.stats {
    display: flex;
    width:100%;
    background-color: darkgrey;
}

.statElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top: 2px solid #4f4f4f;
}

.statElementCenter {
    border-left: 2px solid #4f4f4f;
    border-right: 2px solid #4f4f4f;
}