.list {
    margin-top: 8px;
    display: flex;
    max-width: 375px;
    min-width: 320px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.item {
    border: 2px solid black;
    border-radius: 8px;
    padding: 4px 6px;
    text-align: center;
    font-size: 12px;
}

.nameText {
    margin-top: 8px;
    font-size: 16px;
}

.statusOnlineText {
    color: green;
}

.statusOfflineText {
    color: red;
}

