th, td {
    border: 1px solid black;
    text-align: center;
}

td:nth-child(1) {
    padding: 2px 12%;
    text-align: left;
}

th {
    background-color: grey;
}

table {
    margin-top: 8px;
    width: 500px;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: lightgray;
}